
# Build results
[Dd]ebug/
[R]elease/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
MazeGen/[Dd]ebug/netcoreapp3.1/*

# Visual Studio 2029 cache/options directory
.vs/

# Executables
*.exe
*.out
*.app

